.formulate-input {
  margin-bottom: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin-left: 1.5em;
}
.formulate-form{
  min-width: fit-content;
}
.formulate-input .formulate-input-label {
  margin-top: 1.4em;
  display: block;
  line-height: 1.5;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.1em;
}
.formulate-input[data-classification="textarea"] textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.7em;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 0.9em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  padding: 0.75em;
  display: block;
  font-weight: 400;
  line-height: 1.7em;
  margin: 0;
  border: 1.8px solid gray;
}
#formulate-global-8 {
  border: 1.8px solid gray;
  width: 665px;
}

.formulate-input
  .formulate-input-label--before
  + .formulate-input-help--before {
  margin-top: -0.25em;
  margin-bottom: 0.75em;
}
.formulate-input[data-classification="group"] .formulate-input-group-item,
.formulate-input[data-classification="group"]
  > .formulate-input-wrapper
  > .formulate-input-label {
  margin-bottom: 0.5em;
  margin-right: 2em;
  margin-top: 0.7em;
}
.formulate-input .formulate-input-element {
  max-width: 90em;
  margin-bottom: 0.1em;
}

.formulate-input[data-classification="text"] input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.7em;
  border: 1px solid #cecece;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 0.9em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  padding: 0.75em;
  width: 400px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  border: 1.8px solid gray;
  height: 3.5em;
}
#formulate-global-4 {
  width: 830px;
}

.formulate-input[data-classification="text"] input:focus {
  outline: 0;
  border: 1px solid #41b883;
}
.formulate-input[data-classification="text"]
  .formulate-input-element--date
  input,
.formulate-input[data-classification="text"]
  .formulate-input-element--datetime-local
  input,
.formulate-input[data-classification="text"]
  .formulate-input-element--month
  input,
.formulate-input[data-classification="text"]
  .formulate-input-element--week
  input {
  min-height: 2.2em;
}
.formulate-input[data-classification="text"] .formulate-input-element--search {
  position: relative;
}
.formulate-input[data-classification="text"]
  .formulate-input-element--search:before {
  content: "";
  width: 2em;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.99 72.9"><path fill="%236d6d6d" d="M71.77,66,53.87,48.1A29.94,29.94,0,1,0,30,60a29.52,29.52,0,0,0,18.1-6.1l18,17.8A4,4,0,0,0,69,72.9a4.18,4.18,0,0,0,2.9-1.2A4.09,4.09,0,0,0,71.77,66ZM30.07,51.9a21.9,21.9,0,1,1,15.5-37.4A21.37,21.37,0,0,1,52,30a22,22,0,0,1-6.4,15.5A21.54,21.54,0,0,1,30.07,51.9Z"/></svg>');
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: 50%;
  pointer-events: none;
}
.formulate-input[data-classification="text"]
  .formulate-input-element--search
  input {
  padding-left: 2em;
  }
.formulate-input[data-classification="textarea"] textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.7em;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 0.9em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  padding: 0.75em;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.7em;
  margin: 0;
  border: 1.8px solid gray;
}
.formulate-input[data-classification="textarea"] textarea::-moz-placeholder {
  color: #a8a8a8;
  line-height: normal;
}
.formulate-input[data-classification="textarea"]
  textarea:-ms-input-placeholder {
  color: #a8a8a8;
  line-height: normal;
}
.formulate-input[data-classification="textarea"] textarea::placeholder {
  color: #a8a8a8;
  line-height: normal;
}
.formulate-input[data-classification="textarea"] textarea:focus {
  outline: 0;
  border: 1px solid #41b883;
}
.formulate-input[data-classification="button"] button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.7em;
  background-color: transparent;
  font-size: 0.9em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  padding: 0.75em;
  font-weight: 400;
  line-height: 1.2em;
  border: 1px solid #1d6846;
  background-color: #41b883;
  color: black;
  min-width: 0;
  font-weight: 700;
  cursor: pointer;
  justify-content: center;
  margin: 1.2em;
  width: 150px;
  position: absolute;
  right: 23%;
  top: 400px;
}

.formulate-input[data-classification="box"] .formulate-input-wrapper {
  display: flex;
  align-items: center;
}
.formulate-input[data-classification="box"] .formulate-input-element {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.formulate-input[data-classification="box"] .formulate-input-element input {
  position: absolute;
  left: -999px;
  opacity: 0;
  pointer-events: none;
}
.formulate-input[data-classification="box"] .formulate-input-element-decorator {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 1px solid #cecece;
  position: relative;
}

.formulate-input[data-classification="box"]
  .formulate-input-element[data-type="radio"]
  .formulate-input-element-decorator {
  border-radius: 1em;
  font-size: 1.5em;
  margin-top: 0.9em;
  margin-bottom: 0;
  margin-right: 0.4em;
}
.formulate-input[data-classification="box"]
  .formulate-input-element[data-type="radio"]
  .formulate-input-element-decorator:before {
  border-radius: 1em;
  width: calc(100% - 0.5em);
  height: calc(100% - 0.5em);
  top: 0.25em;
  left: 0.25em;
}

.formulate-input[data-classification="box"]
  .formulate-input-element
  input[type="radio"]:checked
  ~ .formulate-input-element-decorator {
  border-color: #41b883;
}
.formulate-input[data-classification="box"]
  .formulate-input-element
  input[type="radio"]:checked
  ~ .formulate-input-element-decorator:before {
  background-color: #41b883;
}

.formulate-input-group-repeatable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
